.border-solid{
    border: 3px solid rgba(80, 79, 79, 0.548);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.custom-card{
    border: 3px solid rgba(80, 79, 79, 0.548);
    display: flex;
    justify-content: space-between;
}
body{
 /*    background-image: url('https://image.freepik.com/free-vector/white-background-with-hexagonal-line-pattern-design_1017-28442.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

}
.b-white{
    background-color: whitesmoke;
}
.inner-div>div{
    height: 100vh;
}
#savedProducts{
    height: 90%;
    overflow-y: auto;
}